#obi {
  display: none;
}

#maul {
  display: none;
}

#han {
  display: none;
}

#boba {
  display: none;
}

#xwing {
  display: none;
}

#tiefighter {
  display: none;
}

#chewbacca {
  display: none;
}

#evilchewbacca {
  display: none;
}
